doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="This is a wether finder application that assists users to get the wether and time of the locations that they want anywhere in the world")
    meta(name="author" content="Kevin Muriuki")
    title= title
    <!-- Bootstrap core CSS -->
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css',rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
